[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/imgui/imgui"]
	path = dependencies/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "dependencies/DiligentCore"]
	path = dependencies/DiligentCore
	url = https://github.com/DiligentGraphics/DiligentCore.git
[submodule "dependencies/DiligentTools"]
	path = dependencies/DiligentTools
	url = https://github.com/DiligentGraphics/DiligentTools
