[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/imgui/imgui"]
	path = dependencies/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "dependencies/imguizmo/ImGuizmo"]
	path = dependencies/imguizmo/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
